################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GalSim/obj/Release/CoreCompileInputs.cache
