################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GalSim/obj/**
/GalSim/bin/**

/Galaxy/obj/**
/Galaxy/bin/**
